#navWrapperAlign{
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
}


.logo{
  height:auto;
  width: 10rem
}

#input{
  width: 70%;
}

.swapButton{
  margin-right: 1rem;
}

